# Windows exe artifacts only
*.exe

# Go build cache
*.test
*.out

# OS
.DS_Store
Thumbs.db

# Workspace / build temporary folders
main_zip_extracted/
*.bin
*.x.c

# Private Source Code (Protected from Public GitHub)
cmd/
internal/
go.mod
go.sum
/proxy
/server
/ssh-limit
/vpn-bot

